go 1.22.1

use (
	./OOPS-Concepts/Abstraction/example
	./OOPS-Concepts/Encapsulation
	./OOPS-Concepts/comparable
	./OOPS-Concepts/composition/type-1
	./OOPS-Concepts/composition/type-2
	./OOPS-Concepts/constructor
	./advance-concepts/closure
	./advance-concepts/firstClassFunction
	./advance-concepts/higherOrderFunction
	./advance-concepts/receiver-function/example
	./concurrency/reddit/problem1
	./concurrency/reddit/problem2
	./concurrency/reddit/problem3
)
